doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet')
    link(rel='stylesheet' href='/styles/gallery.css')
    link(rel='icon' href='/img/logo.jpeg' type='image/icon type')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
    title Mission Kalyan Foundation
.relative.max-h-screen.flex.items-center.justify-center.bg-gray-50.py-12.px-4.bg-white-500.bg-no-repeat.bg-cover.relative.items-center(class='sm:px-6 lg:px-8 min-h-screen' )
  .absolute.bg-black.opacity-30.inset-0.z-0
  .w-full.p-10.bg-white.rounded-xl.z-10(class='sm:max-w-lg')
    .text-center
      h2.mt-5.text-3xl.font-bold.text-gray-900
        | File Delete!
      p.mt-2.text-sm.text-gray-400 Delete An Old Gallery
    form#deleteGallery__form.mt-8.space-y-3
      .grid.grid-cols-1.space-y-2
        label.text-sm.font-bold.text-gray-500.tracking-wide Gallery Name
        input#checkGallery__name.text-base.p-2.border.border-gray-300.rounded-lg(class='focus:outline-none focus:border-indigo-500' type='text' , required name='name' placeholder='Type Gallery Name...')
        button.my-1.w-half.flex.justify-center.bg-blue-500.text-gray-100.p-1.rounded-full.tracking-wide.font-semibold.shadow-lg.cursor-pointer.transition.ease-in.duration-300(type='submit' class='focus:outline-none focus:shadow-outline hover:bg-blue-600') check
      .grid.grid-cols-1.space-y-2
        label.text-sm.font-bold.text-gray-500.tracking-wide Images
        .flex.items-center.justify-center.w-full
          #image__container.flex.flex-col.rounded-lg.border-4.border-dashed.w-full.h-60.group.text-center
            #container.container
      div
        button#deleteGallery__submit.my-5.w-full.flex.justify-center.bg-blue-500.text-gray-100.p-4.rounded-full.tracking-wide.font-semibold.shadow-lg.cursor-pointer.transition.ease-in.duration-300(type='submit' class='focus:outline-none focus:shadow-outline hover:bg-blue-600'  )
          | Delete
script(src='/js/gallery.js')
